@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300i,400,400i';
@import 'https://fonts.googleapis.com/css?family=Bellefair';
@import 'https://fonts.googleapis.com/css?family=EB+Garamond';


/* Whole-page styles (overrides to web defaults) 
 *********************************************************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

body, input, textarea {
  background: #000;
  color: rgba(255, 255, 255, .9);
  font-family: 'EB Garamond', serif;
  outline: none;
}

input {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .9)
}

::placeholder {
  color: inherit;
  opacity: 0.8;
}

a, a:active, a:hover {
  color: #9EEBCF;
  text-decoration: none;
}

a:hover {
  color: #cbf9f4;
}

select {
  -webkit-appearance: none;
  background-color: black;
  color: rgba(255, 255, 255, .9);
  font-family: 'Alegreya Sans';
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  padding: 2px;
  padding-right: 24px;
  background: url('./assets/ic_arrow_drop_down_white_24px.svg') no-repeat;
  background-position: right;
  cursor: pointer;
}

:focus {
  outline-color: white;
  outline-offset: -1px;
}


/* Extensions to Tachyons-style modular styles
 *********************************************************/
/* Fonts */
.alegreya {
  font-family: 'Alegreya Sans';
}

.alegreya-300 {
  font-family: 'Alegreya Sans';
  font-weight: 300;
}

.bellefair {
  font-family: 'Bellefair';
}

.eb-garamond {
  font-family: 'EB Garamond';
}

/* Sizing */
.h2-5 {
  height: 3rem;
}

