@import 'https://fonts.googleapis.com/css?family=EB+Garamond';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #000;
  color: #eee;
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond', serif;
}

a, a:active, a:hover {
  color: #36f1da;
  text-decoration: none;
}

